body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#contentBody{
  background-color: #e19898;
}

#test{
  text-align: center;
  max-width: 100%;
}

#mapImage{
  max-height: 100%;
}

#returnedData{
  text-align: center;
}
#exploreHeader{
  text-align: center;
}
#flexContainerMainContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#flexItemWeatherInfo{
  align-self: center;
}

#flexContainerMovies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#welcomeHeader{
  color:#E59CF7;
  background-color: #4138E0;
  display: flex;
  justify-content: center;
}